1. Создание рабочего окружения в Jupyter Notebook и проверка работы библиотек

In [40]:
import pandas as pd

In [41]:
sales = pd.read_csv('data/sales.csv')
sales.head()

,order_id,date,customer_id,category,region,sales,quantity,discount
0,59570135,2017-10-16,512,Одежда и обувь,Ставропольский край,1301,2,0.00
1,16578697,2017-07-18,512,Одежда и обувь,Ставропольский край,3530,4,0.05
2,46943601,2017-07-05,512,Бытовая техника,Ставропольский край,5773,1,0.10
3,42436035,2017-02-18,512,Спорт и отдых,Ставропольский край,4723,3,0.03
4,49798299,2017-09-08,512,Красота,Ставропольский край,1936,3,0.00

In [42]:
returns = pd.read_csv('data/returns.csv')
returns.head()

   order_id  return
0  59570135       0
1  16578697       0
2  46943601       0
3  42436035       0
4  49798299       0

2. Определение регионов с наибольшими продажами и наименьшими возвратами в категориях «Бытовая техника» и «Одежда и обувь»

- Объедините таблицы из файлов sales.csv и returns.csv по общему столбцу order_id.
- Отфильтруйте полученную таблицу по категориям «Бытовая техника» и «Одежда и обувь».
- Посчитайте, в каком регионе были наибольшие продажи.
- Посчитайте долю возвратов товаров для каждого региона.

In [43]:
# Объединяем таблицы продаж и возвратов
sales_full = sales.merge(returns, on='order_id')
sales_full.head()

# Фильтруем по категориям
data_cat =  sales_full[sales_full['category'].isin(['Бытовая техника', 'Одежда и обувь'])]
data_cat.head(10)

# Считаем продажи по регионам и ищем максимум
data_reg_sales = data_cat.groupby('region').agg({'sales': 'sum'}).sort_values('sales', ascending=False)
data_reg_sales

                           sales
region
Амурская область       246020174
Московская область     243303435
Хабаровский край       195830763
Ленинградская область  194335595
Приморский край        148651687
Иркутская область      148303294
Краснодарский край     148264629
Ставропольский край    122070483
Владимирская область   101630259
Красноярский край       99603220
Смоленская область      96987835

In [44]:
# Считаем количество возвратов по регионам

data_reg_returns = data_cat.groupby('region').agg({'return': 'sum'}).sort_values('return', ascending=False)
data_reg_returns.head()

                       return
region
Амурская область        15401
Приморский край          9231
Московская область       8321
Иркутская область        8049
Ленинградская область    7350

In [45]:
pivot = data_cat.pivot_table(index='region', columns='return', values='sales', aggfunc='count')
pivot['returns_share'] = pivot[1] / (pivot[0] + pivot[1])
pivot

return                     0      1  returns_share
region
Амурская область       44362  15401       0.257701
Владимирская область   19978   4642       0.188546
Иркутская область      27978   8049       0.223416
Краснодарский край     31435   4617       0.128065
Красноярский край      18271   6064       0.249188
Ленинградская область  39940   7350       0.155424
Московская область     50920   8321       0.140460
Приморский край        26865   9231       0.255735
Смоленская область     21408   2336       0.098383
Ставропольский край    23576   6197       0.208142
Хабаровский край       41490   6210       0.130189